sortedcontainers~=2.4.0
numpy~=1.23.5
pandas~=1.5.2
scipy~=1.9.3
toposort~=1.7
deap~=1.3.3
seaborn~=0.12.1
matplotlib~=3.6.2
plotly~=5.11.0
pytest~=7.2.0
pytest-xdist~=3.1.0
pathos

# Requirements to build the Python documentation

# Sphinx version is pinned so that new versions that introduce new warnings
# won't suddenly cause build failures. Updating the version is fine as long
# as no warnings are raised by doing so.
sphinx>=4.5.0

blurb

sphinx-lint==0.6.7
sphinxext-opengraph==0.7.5
sphinx-autoapi==2.1.1
furo>=2023.5.20

# The theme used by the documentation is stored separately, so we need
# to install that as well.
python-docs-theme>=2022.1
sphinx-rtd-theme
