sortedcontainers~=2.4.0
setuptools~=60.2.0
pathos~=0.3.0

numpy~=1.23.5
pandas~=2.0.0
scipy~=1.9.3
scikit-learn~=1.1.3

# torch==2.0.1
# torchmetrics

toposort~=1.7
deap~=1.3.3

seaborn~=0.12.1
matplotlib~=3.6.2
plotly~=5.17.0
networkx~=3.1

pytest~=7.2.0
pytest-xdist~=3.1.0

# Requirements to build the Python documentation

# Sphinx version is pinned so that new versions that introduce new warnings
# won't suddenly cause build failures. Updating the version is fine as long
# as no warnings are raised by doing so.
sphinx>=4.5.0
blurb
sphinx-lint==0.6.7
sphinxext-opengraph==0.7.5
sphinx-autoapi==3.1.0
furo>=2023.5.20

# The theme used by the documentation is stored separately, so we need
# to install that as well.
python-docs-theme>=2022.1
sphinx-rtd-theme


